<div class="signup-container">
    <div class="nav-close-button-box">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="closeLoginNav()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div class="signup-title">
        <div class="signup-title-text">
            <h1 style="font-weight: 500;">Créer un compte</h1>
            <div style="margin-top: 5px; font-weight: 500">ou <a style="color: #fc8019; cursor: pointer;"
                    (click)="loginEnable()">se connecter à son compte</a></div>
        </div>
        <div class="signup-title-img">
            <img width="100" height="105" alt=""
                src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto/Image-login_btpq7r">
        </div>
    </div>
    <div class="signup-body" style="overflow-x: hidden;">
        <div class="signup-input-box">
            <mat-form-field appearance="outline" class="input-box">
                <mat-label>Numéro mobile</mat-label>
                <input matInput placeholder="Numéro mobile" class="input-text">
            </mat-form-field>
        </div>
        <div class="signup-input-box">
            <mat-form-field appearance="outline" class="input-box">
                <mat-label>Nom</mat-label>
                <input matInput placeholder="Nom" class="input-text">
            </mat-form-field>
        </div>
        <div class="signup-input-box">
            <mat-form-field appearance="outline" class="input-box">
                <mat-label>Adresse Email </mat-label>
                <input matInput placeholder="Adresse Email" class="input-text">
            </mat-form-field>
        </div>
        <div class="signup-input-box">
            <mat-form-field appearance="outline" class="input-box">
                <mat-label>Mot de passe</mat-label>
                <input matInput placeholder="Mot de Passe" class="input-text">
            </mat-form-field>
        </div>
        <div class="signup-submit-button">
            <div class="button-box">
                <button mat-raised-button class="default-button">CONTINUE</button>
            </div>
        </div>
    </div>
</div>