<div class="header-container">
    <div class="contain">
        

        <div class="address-box" (click) = "openAddressSideNav()">
            <span class="home">Accueil</span>
            <span class="address">Paris efrei</span>
            <mat-icon fontSet="material-icons-outlined" class="icon">keyboard_arrow_down</mat-icon>
        </div>
        <ul class="global-menu">
            <li class="menu-item"  [routerLink]="['/cart']" routerLinkActive="active"> 
                <a class="item-box" [mdePopoverTriggerFor]="cartPopover" mdePopoverTriggerOn="hover"
                     mdePopoverArrowColor="#db7c38" [mdePopoverOffsetX]="-16" [mdePopoverOffsetY]="-10">
                    <mat-icon fontSet="material-icons-outlined" matBadgePosition="before" matBadgeColor="warn"  matBadge="4" matBadgeOverlap="true">shopping_cart</mat-icon>
                    <span> Panier </span>
                </a>
            </li>
             <li class="menu-item"  *ngIf="user" [routerLink]="['/my-account']" routerLinkActive="active">
                <a class="item-box" [mdePopoverTriggerFor]="appPopover" mdePopoverTriggerOn="hover"
                    mdePopoverArrowColor="#db7c38" [mdePopoverOffsetX]="-16" [mdePopoverOffsetY]="-10" [mdePopoverArrowOffsetX]="40">
                    <mat-icon fontSet="material-icons-outlined">person</mat-icon>
                    <span> Ousmane </span>
                </a>
            </li> 
            <li class="menu-item"  *ngIf="!user">
                <a class="item-box" (click) = "openLoginSideNav()">
                    <mat-icon fontSet="material-icons-outlined">person</mat-icon>
                    <span> Se connecter </span>
                </a>
            </li>
            <li class="menu-item">
                <a class="item-box" [routerLink]="['/help']" routerLinkActive="active">
                    <mat-icon fontSet="material-icons-outlined">live_help</mat-icon>
                    <span> Aide </span>
                </a>
            </li>
            <li class="menu-item">
                <a class="item-box" [routerLink]="['/offers']" routerLinkActive="active">
                    <mat-icon fontSet="material-icons-outlined">local_offer</mat-icon>
                    <span> Offres </span>
                </a>
            </li>
            <li class="menu-item">
                <a class="item-box" [routerLink]="['/search']" routerLinkActive="active">
                    <mat-icon fontSet="material-icons-outlined">search</mat-icon>
                    <span> Recherche </span>
                </a>
            </li>
        </ul>
    </div>
</div>
<mde-popover #appPopover="mdePopover" [mdePopoverCloseOnClick]="true" [mdePopoverOverlapTrigger]="false">
    <div class="popover">
        <ul class="profile-list">
            <li [routerLink]="['/my-account']" class="profile-item" routerLinkActive="active">Profile</li>
            <li [routerLink]="['/my-account/orders']" class="profile-item" routerLinkActive="active">Orders</li>
            <li [routerLink]="['/my-account/favourites']" class="profile-item" routerLinkActive="active">Favorites</li>
            <li class="profile-item" (click)= "logout()">Logout</li>
        </ul>
    </div>
</mde-popover>
<mde-popover #cartPopover="mdePopover" [mdePopoverCloseOnClick]="true" [mdePopoverOverlapTrigger]="false">
    <div class="cart-popover">
        <div class="main-container">
            <div class="restaurant-box">
                <div>
                    
                    <img height="66" width="66" alt=""
                        src="https://courses.monoprix.fr/images-v3/0c44253f-c4a3-4340-9d37-d41e42b9d14a/dd61408b-3f5b-4bde-a67a-b4b652afdf10/500x500.jpg">
                </div>
                <div class="restaurant-description">
                    <div class="name">Nom du producteur</div>
                    <div class="address">Adresse</div>
                </div>
            </div>
            <div class="item-info-box">
                <ul class="items">
                    <li class="list" *ngFor="let item of itemList">
                        <div class="item-name">
                            <img src="https://img.icons8.com/color/15/000000/vegetarian-food-symbol.png">
                            <span style="margin-left: 10px;">Tomate x 1</span>
                        </div>
                        <div style="margin-left: 10px">4.70 €</div>
                    </li>
                </ul>
            </div>
            <div class="subtotal-box">
                <div>Total</div>
                <div>14.1 €</div>
            </div>
            <div class="checkout-button-box">
                <button mat-raised-button class="checkoutButton">Accéder au Panier</button>
            </div>
        </div>

    </div>
</mde-popover>