<div class="cart-container">

    <div class="cart-container-box container">
        <div class="left-container-box">
            <div class="child-box" *ngIf="!user">
                <div>
                    <h1>Compte</h1>
                    <span style="font-weight: 500; opacity: 0.6; font-size: 16px;">Pour commander maintenant, connectez-vous ou créez un compte.</span>
                </div>
                <div class="button-container">
                    <div class="button-box">
                        <button mat-raised-button class="default-button outline-success-button" style="width: 150px;" (click)="openLoginSideNav()">
                            <span>Se connecter</span>
                        </button>
                    </div>
                    <div class="button-box" style="margin-left: 20px;">
                        <button mat-raised-button class="default-button success-button" style="width: 150px;" (click)="openLoginSideNav()">
                            Créer un compte
                        </button>
                    </div>
                </div>
            </div>
            <div class="child-box">
                <div>
                    <h1> Choisir une adresse de livraison</h1>
                    <span style="font-weight: 500; opacity: 0.6; font-size: 16px;">
                        Plusieurs adresses à cette localisation
                    </span>
                </div>
                <div class="address-box-container">
                    <div class="address-box-card">
                        <div class="address-box-header">
                            <mat-icon fontSet="material-icons-outlined">home</mat-icon>
                            <h3 style="font-weight: 500; margin-left: 10px">Domicile</h3>
                        </div>
                        <div class="address-box-footer">
                            <span> 30- 32 Avenue de la République, 94800 Villejuif, France</span>
                            <div style="margin-top: 20px;">
                                <span style="font-weight: 500; color: black; opacity: 1;">41 MINS</span>
                                <div class="button-box">
                                    <button mat-raised-button class="default-button success-button"
                                        style="width: 150px; margin-top: 20px;">
                                        <span>Livrer ici</span>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="address-box-card">
                        <div class="address-box-header">
                            <mat-icon fontSet="material-icons-outlined">work_outline</mat-icon>
                            <h3 style="font-weight: 500; margin-left: 10px">Bureau</h3>
                        </div>
                        <div class="address-box-footer">
                            <span> 05 Boulevard Haussman, 75010 Paris</span>
                            <div style="margin-top: 20px;">
                                <span style="font-weight: 500; color: black; opacity: 1;">41 MINS</span>
                                <div class="button-box">
                                    <button mat-raised-button class="default-button success-button"
                                        style="width: 150px; margin-top: 20px;">
                                        <span>DLivrer ici</span>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="address-box-card">
                        <div class="address-box-header">
                            <mat-icon fontSet="material-icons-outlined">home</mat-icon>
                            <h3 style="font-weight: 500; margin-left: 10px">Domicile</h3>
                        </div>
                        <div class="address-box-footer">
                            <span>  Boulevard Maxime Gorki, 94800 Villejuif</span>
                            <div style="margin-top: 20px;">
                                <span style="font-weight: 500; color: black; opacity: 1;">41 MINS</span>
                                <div class="button-box">
                                    <button mat-raised-button class="default-button success-button"
                                        style="width: 150px; margin-top: 20px;">
                                        <span>Livrer ici</span>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
            <div class="child-box">
                <div>
                    <h1>Choisir un mode de Paiement</h1>

                </div>
                <div class="second-view">
                    <div class="body" style="padding: 0;">
                        <div class="list-view">
                            <div class="list-box">
                                <ul>
                                    <li class="item">
                                        <mat-icon fontSet="material-icons-outlined" class="icon">
                                            account_balance_wallet
                                        </mat-icon>
                                        <span class="text" style="margin-left: 10px;">Wallets</span>
                                    </li>
                                    <li class="item ">

                                        <mat-icon fontSet="material-icons-outlined" class="icon">
                                            credit_card
                                        </mat-icon>
                                        <span style="margin-left: 10px;" class="text">
                                            Carte bancaire
                                        </span>
                                    </li>
                                    <li class="item active_item">
                                        <mat-icon fontSet="material-icons-outlined" class="icon">
                                            money
                                        </mat-icon>
                                        <span class="text" style="margin-left: 10px;">Payer à la livraison</span>
                                    </li>
                                    <li class="item">
                                        <mat-icon fontSet="material-icons-outlined" class="icon">
                                            credit_card
                                        </mat-icon>
                                        <span class="text" style="margin-left: 10px;">UPI</span>
                                    </li>


                                </ul>
                            </div>
                        </div>
                        <div class="result-view">
                            <div class="result-box">
                                <img class="_2tuBw _12_oN" width="140" height="80" alt=""
                                    src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_140,h_80/image-pay-by-cash_av6bcw">
                                <div style="margin-top: 30px;display: flex; flex-direction: column;">
                                    <h3 style="font-weight: 400">Cash</h3>
                                    <span style="margin-top: 10px; font-weight: 500; opacity: .5;">Please keep exact
                                        change handy to help us serve you better</span>
                                    <div class="button-box full-size-button-box">
                                        <button mat-raised-button class="default-button success-button"
                                            style="margin-top: 20px;">
                                            <span>PAYER 12 €</span>
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-container-box">
            <div class="main-box">
                <div class="cart-header">
                    <div>
                        <img  height="50" width="50" alt=""
                            src="https://courses.monoprix.fr/images-v3/0c44253f-c4a3-4340-9d37-d41e42b9d14a/dd61408b-3f5b-4bde-a67a-b4b652afdf10/500x500.jpg">
                    </div>
                    <div style="margin-left: 20px;">
                        <h3 style="font-weight: 500;">Tomate</h3>
                        <span style="margin-top: 10px; font-weight: 500; opacity: 0.5;">Tomate</span>
                    </div>

                </div>
                <ul class="items">
                    <li class="list" *ngFor="let item of items">
                        <div class="item-name">
                            <img src="https://img.icons8.com/color/15/000000/vegetarian-food-symbol.png">
                            <span style="margin-left: 10px;">Tomate</span>
                        </div>
                        <div class="add-remove-box">
                            <mat-icon class="star-icon" fontSet="material-icons-outlined">remove</mat-icon>
                            <span>5</span>
                            <mat-icon class="star-icon" fontSet="material-icons-outlined">add</mat-icon>
                        </div>
                        <div style="margin-left: 10px">13 €</div>
                    </li>
                </ul>
                <div class="subtotal">
                    <div class="total-amount-box">
                        <div>Total à payer</div>
                        <div>
                            22 €
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>