<div class="select-address-container">
    <div class="nav-close-button-box">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="closeAddressNav()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div class="address-search-input-box">
        <mat-form-field appearance="outline" class="search-box">
            <input matInput placeholder="localisation, nom de la rue" class="seach-input-text">
            <button mat-button matSuffix aria-label="Clear" style="bottom: 8px; right: 20px; color: #fc8019">
                Annulez
            </button>
        </mat-form-field>
    </div>
    <div class="address-search-result-box">
        <span class="address-box-title">Adresses enrégisrées</span>
        <div class="address-box-card">
            <div class="address-box-header">
                <mat-icon fontSet="material-icons-outlined">home</mat-icon>
                <h3 style="font-weight: 500; margin-left: 10px">Domicile</h3>
            </div>
            <span class="address-box-footer">
                30- 32 Avenue de la République, 94800 Villejuif, France
            </span>
        </div>
        <div class="address-box-card">
            <div class="address-box-header">
                <mat-icon fontSet="material-icons-outlined">work_outline</mat-icon>
                <h3 style="font-weight: 500; margin-left: 10px">Bureau</h3>
            </div>
            <span class="address-box-footer">
                05 Boulevard Haussman, 75010 Paris, France
            </span>
        </div>
        <div class="address-box-card">
            <div class="address-box-header">
                <mat-icon fontSet="material-icons-outlined">room</mat-icon>
                <h3 style="font-weight: 500; margin-left: 10px">Domicile</h3>
            </div>
            <span class="address-box-footer">
                Boulevard Maxime Gorki, 94800 Villejuif
            </span>
        </div>
    </div>

</div>