<div class="footer">
        <div class="container">
            <div class="first">
                <h4>Bioliv</h4>
                <p>
                    30- 32 Avenue de la République, 94800 Villejuif.
                </p>
            </div>
            <div class="second">
                <h4>AIDER</h4>
                <ul class="list">
                    <li>
                        Shipping Information</li>
                    <li> Nous contacter</li>
                    <li> Termes & Conditions</li>
                    <li> FAQ </li>
                </ul>
            </div>
            <div class="third">
                <h4>HAVE A QUESTION</h4>
                <p>
                    30- 32 Avenue de la République, 94800 Villejuif</p>
                <p>+33 146 77 46 77</p>
                <p>www.bioliv.com
                </p>
            </div>
        </div>
        <div class="copyright">
            <p>Copyright ©2021 All rights reserved | This application is made by Bioliv</p>
        </div>
    </div>